#csharp{
  display: none;
}
#java{
  display: none;
}
#php{
  display: none;
}
#css{
  display: none;
}
#ruby{
  display: none;
}
.nice{
  text-align: center;
}
#formLanguage{
  width:500px;
  margin: 0 auto;
}
button{
  margin-top: 10px;
}
